@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #aaaaaa;
}

/* shared common style */
.light-gray {
  color: #3a3a3a;
  font-weight: 500;
}
.flex-display {
  display: flex;
}

.primary-btn {
  width: 200px;
  height: 50px;
  background-color: #e02c6d;
  color: white;
  border-radius: 41px;
  border: none;
  font-size: 1rem;
  margin-top: 16px;
}

/* navbar related style */
.navbar {
  max-width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-items {
  gap: 30px;
}
.navbar-items li {
  list-style: none;
}
.navbar-items li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* hero section start */
.hero-section {
  justify-content: space-between;
  max-width: 1180px;
  margin: 100px auto;
}
.section-title {
  font-size: 3.25rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.hero-container {
  max-width: 50%;
}

.hero-section-banner img {
  max-width: 100%;
}

/* brand related style */
.online-best-platform {
  max-width: 1180px;
  height: 110px;
  border: 2px solid seashell;
  border-radius: 8px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}
.online-best-platform img {
  max-width: 100%;
}

/* collection related style */
.collection {
  max-width: 1180px;
  margin: 100px auto;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.collection-title {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.card-item {
  max-width: 330px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
#card-banner {
  padding: 16px;
  max-width: 100%;
}
.card-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 16px;
}
.price {
  font-size: 1.5rem;
  padding-left: 16px;
}
.rating {
  padding-left: 16px;
}
.rating span {
  padding-left: 5px;
  font-size: 1rem;
}
.card-description {
  padding-left: 16px;
  padding-bottom: 10px;
}



@media screen and (max-width: 576px) {
  .navbar,
  .navbar-items {
    flex-direction: column;
    align-items: center;
  }
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-container {
    max-width: 100%;
  }
  .section-title {
    font-size: 1.5rem;
  }

  .online-best-platform {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    border: none;
    padding: 20px;
  }

  .card-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

}
